{% extends "index.html" %}
{% block title %}
  {{ page.title }}
{% endblock title %}
{% block header %}
    <div id="header">
{% if config.extra.site_title %}
        <h1><a class="site-title" href="{{ config.base_url }}/">{{ config.extra.site_title }}</a></h1>
{% endif %}
        <ul class="nav nav-tabs">
{% set current = page.path | lower | split(pat="/") | nth(n=1) %}
{% for node in config.extra.nav_bar %}
{% set active = node.url | lower | split(pat="/") | nth(n=1) %}
{% if node.external %}
            <li><a class="page-link" href="{{ node.url }}"{% if node.target %} target="{{ node.target }}"{% endif %}>{{ node.name }}</a></li>
{% else %}
            <li {% if active == current %}class="active"{% endif %}><a class="page-link" href="{{ node.url | replace(from="$BASE_URL", to=config.base_url) }}">{{ node.name }}</a></li>
{% endif %}
{% endfor %}
        </ul>
    </div>
{% endblock header %}
{% block content %}
<div class="page-content">
    <div class="wrapper">
        <div id="content" class="text-justify">
            <h1>{{ page.title }}</h1>
            {{ page.content | safe }}
        </div>
      </div>
</div>
{% endblock content %}
