{% extends "index.html" %}
{% block title %}
  {{ page.title }}
{% endblock title %}
{% block content %}
{% set before_compact = page.content | split(pat="<!-- compact -->") | nth(n=0) | default(value="") %}
{% set after_compact = page.content | split(pat="<!-- /compact -->") | nth(n=1) | default(value="") %}
{% set body_content = before_compact ~ after_compact %}
{% set path_parts = page.path | split(pat="/") %}
<div class="page-content">
    <div class="wrapper">
        <div id="content"{% if "experiences" in path_parts %} class="page-detail"{% endif %}>
            {{ body_content | safe }}
        </div>
      </div>
</div>
{% endblock content %}